/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #4CAF50; 
    color: #fff;
    padding: 10px;
    
}

.haha{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: safe;
}
.haha img{
    max-width: 80px;
    height: auto;
}


.header h1 {
    margin: 10px 0;
    text-align:center;
}

.header p{
    text-align: center;
    font-weight: 900;
    font-size: large;
}
.header .contact-info {
    margin: 10px 0;
    text-align:center;
   
}

.header .contact-info span {
    margin-right: 15px;
    text-align:center;
    font-weight: 900;
    font-size: large;
}

.header .contact-info a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-weight: 900;
    font-size: large;
}


.hero {
    background-color: #f2f9f2; 
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: #4CAF50;
    margin-bottom: 10px;
    text-decoration: underline;
}

.hero p {
    color: #555;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.hero .btn:hover {
    background-color: #45a049;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #e6f7e6; 
}

.service {
    text-align: center;
    width: 30%;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 15%;
}

.service h3 {
    color: #4CAF50;
    margin: 10px 0;
}

.service p {
    color: #666;
}

.about {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    color: #4CAF50;
    text-decoration: underline;
}

.about p {
    color: #333;
    line-height: 1.6;
}

.footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
}
